{% extends "admin/layout/empty.twig" %}

{% block header %}
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <a class="navbar-brand" href="/admin">Yönetim Paneli</a>
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="/admin/logout">Oturumu Kapat</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}