<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Yönetim Paneli</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block main_content %}
    {% endblock %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>