<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - MySite</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <a class="navbar-brand" href="/">MySite</a>
                    <ul class="nav navbar-nav">
                        <li><a href="/">HomePage</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block main_content %}
    {% endblock %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>